body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #163152;
    background-color: #FDFDFF;
    margin: 0;
}

a {
    text-decoration: none;
    color: #163152;
}

.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.hero h1 {
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
}

.date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

body h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}


body h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

body h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.contact-item a {
    font-weight: 400;
    line-height: 22px;
}

.contact-item p {
    line-height: 22px;
}

.main-footer p {
    font-size: 10px;
    line-height: 12px;
}

.main-footer h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.main-footer li {
    font-size: 14px;
    line-height: 16px;
}

main h2 {
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.contact-items {
    margin-top: -2px;
}

.event-1 {
    margin-top: 14px;
}

.event-2 {
    margin-top: 20px;
}

.social-list {
    margin-top: -5px;
}

figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
    margin-top: 5px;
}

.news {
    margin-top: 20px;
}

.news .center {
    text-align: center;
}

.news h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.news h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.news p {
    font-size: 18px;
    line-height: 26px;
}

.team-list {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

blockquote {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.news h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.author {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.author .date {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.news .winner {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
}

.main-header {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 40px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 64px;
    padding: 0;
    margin: 0;
    margin-right: 471px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 559px;
}

.icon {
    width: 36px;
    height: 36px;
    margin-left: auto;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
}

.hero {
    margin-bottom: 120px;
}

.hero h1 {
    margin: 0;
    margin-bottom: 40px;
}

.event-2,
.event-1 {
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.event-2-content,
.event-1-content {
    width: 400px;
}

.event-2-img,
.event-1-img {
    width: 600px;
}

.event-2 {
    margin-bottom: 120px;
    flex-direction: row-reverse;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.news h2 {
    margin: 0;
    margin-bottom: 55px;
}

.contacts {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.map {
    display: block;
    margin-right: 100px;
}

.contact-content {
    width: 400px;
}

.social-list {
    margin: 0;
    padding: 0;
}

.contact-content h2 {
    margin: 0;
    margin-bottom: 35px;
}

.share-img {
    margin: 10px;
}

.main-footer{
    padding: 60px 0;
    margin-top: 118px;
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 60px;
}

.footer-container{
    display: flex;
}

.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column {
    width: 175px;
    margin-right: 120px;
}


.footer-navigation {
    width: 870px;
    display: flex;
    justify-content: space-between;
}

.footer-navigation-item {
    width: 165px;
}

.footer-navigation-item > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-item h2 {
    margin: 0;
    margin-bottom: 20px;
}

.gallery {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.gallery h2 {
    margin: 0;
    margin-bottom: 55px;
    text-align: center;
}

.gallery-wrapper {
    display: flex;
}

.active-img {
    width: 970px;
    margin-right: 30px;
}

.gallery-preview {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 170px;
}

.gallery-wrapper .preview-item {
    margin-bottom: 30px;   
    height: 150px; 
}
  
.gallery-wrapper .preview-item:last-child {
    margin-bottom: 0;
}

.logo {
    width: 64px;
    height: 68px;
    margin-right: 472px;
    margin-top: 0;
    margin-bottom: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00C6BD;
    border-radius: 50%;
}

.icon:hover {
    opacity: 0.5;
}

.icon:active {
    opacity: 0.3;
}

.site-navigation-item, a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item, a:active {
    color: rgba(22, 49, 82, 0.3);
}

.active-img {
    display: block
}

.gallery-preview a {
    position: relative;
    display: block;
}

.gallery-preview a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(253, 253, 255, 0.5);
}

.gallery-preview a.active-item::before {
    background-color: transparent;
}

.gallery-preview img {
    display: block;
}

.team-list {
    margin: 0;
    padding: 0;
    padding-left: 19px;
}

.author-about {
    display: flex;
}

.author-img {
    margin-right: 15px;
}

.share-img {
    margin-left: auto;
}

.author {
    margin: 0;
    margin-bottom: 9px;
}

.date {
    margin: 0;
}

.share-img:hover{
    opacity: 0.5;
}

.share-img:active{
    opacity: 0.3;
}

blockquote {
    margin:0;
    border-left: 2px solid #00C6BD;
    padding-left: 20px;
    margin-bottom: 30px;
}

.event-1-content p {
    margin: 0;
    margin-bottom: 10px;
}

.event-1-content h2 {
    margin: 0;
    margin-bottom: 35px;
}

.event-2-content p {
    margin: 0;
    margin-bottom: 10px;
    text-align: right;
}

.event-2-content h2 {
    margin: 0;
    margin-bottom: 35px;
    text-align: right;
}

.news-img {
    display: block;
    margin: 0;
    margin-bottom: 17px;
}

figcaption {
    margin: 0;
    margin-bottom: 33px;
}

.news h3 {
    margin: 0;
    margin-bottom: 23px;
}

.first-description {
    margin: 0;
    margin-bottom: 12px;
}

.second-description {
    margin: 0;
    margin-bottom: 24px;
}

.news h4 {
    margin: 0;
    margin-bottom: 15px;
}

.team-list li {
    margin: 0;
    margin-bottom: 8px;
}

.team-list li:last-child {
    margin-bottom: 0;
}

.team-list {
    margin-bottom: 30px;
}

.third-description {
    margin: 0;
    margin-bottom: 38px;
}

.contact-content {
    padding-top: 50px;
}

.contact-content h2 {
    margin: 0;
    margin-bottom: 35px;
}

.contact-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-content address{
    display: inline;
}

.contact-content h3 {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 10px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;

}

.social-list li {
    margin-right: 15px;
}

.social-list a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00C6BD;
    border-radius: 50%;
}

.social-list a:hover {
    opacity: 0.5;
} 

.social-list a:active {
    opacity: 0.3;
}

.footer-column img {
    display: block;
    margin: 0;
    margin-bottom: 30px;
}

.footer-navigation-topics h2 {
    margin: 0;
    margin-bottom: 20px;
}

.footer-navigation-topics ul li {
    margin-bottom: 13px;
}

.footer-navigation-topics ul li:last-child{
    margin-bottom: 0;
}

.main-footer {
    border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.card-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.card-features li {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.card-price-name,
.card-price-value {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.rent {
    margin-bottom: 120px;
}

.rent h2 {
    margin: 0;
    margin-bottom: 55px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.card {
    width: 310px;
    padding: 30px;
    background-color: #FDFDFF;
    box-shadow: 0px 4px 30px rgba(22, 49, 82, 0.12);
}

.card-image {
    display: block;
    margin-bottom: 21px;
}

.card-title {
    margin: 0;
    margin-bottom: 18px;
}

.card-description {
    margin: 0;
    margin-bottom: 15px;
}

.card-features {
    list-style-image: url("../img/curcle.png");
    padding: 0;
    margin: 0;
    margin-left: 18px;
    margin-bottom: 29px;
    
}

.card-features li {
    margin-bottom: 4px;
}

.card-price {
    margin: 0;
    display: flex;
    justify-content: space-between;
}