body {
    font-family: Roboto, serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #FDFDFF;
	margin: 0;
}

.header-items a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}

.hero {
    height: 573px;
    margin-bottom: 120px;
}

.hero h1 {
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 0;
}


.blog-article-data {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.article h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}

.description h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}

.news h2 {
    font-size: 24px;
    line-height: 34px;
}

.news .subtitle-text {
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-align: center;
    text-underline-position: under;
}

.subtitle-text {
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.water {
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.contacts h2 {
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.news figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.news h3 {
    font-size: 22px;
    line-height: 26px;
}

.news p {
    font-size: 18px;
    line-height: 26px;
}

.news h4{
    font-size: 20px;
    line-height: 26px;
}

.commands-list-item {
    font-size: 18px;
    line-height: 26px;
}

.news blockquote {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.author {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.date {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.contacts h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}

.contacts h3 {
    font-size: 16px;
    line-height: 22px;
}

.contacts p {
    font-size: 16px;
    line-height: 22px;
}

.contacts a {
    font-size: 16px;
    line-height: 22px;
    color: #163152;
    text-decoration: none;
}

.main-footer p {
    font-size: 10px;
    line-height: 12px;
}

.footer-column p {
    font-size: 10px;
    line-height: 12px;
}

.main-footer p a {
    font-size: 10px;
    line-height: 12px;
}

.main-footer h3 {
    font-size: 14px;
    line-height: 18px;
}

.main-footer a {
    font-size: 14px;
    line-height: 16px;
    color: #163152;
    text-decoration: none;
}

.main-header {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 55px;;
	margin-bottom: 40px;
}

.main-nav {
    display: flex;
}

.header-items {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 559px;
    margin-right: 40px;
}

.logo {
    margin-top: 0;
	margin-bottom: 0;
    margin-right: 471px;
}

.icon {
    width: 36px;
    margin-left: auto;
}

.content {
	padding: 0 55px;
    width: 1170px;
    margin: 0 auto;
}

.article {
    margin-bottom: 120px;
}

.hero h1 {
    margin-bottom: 40px;
	margin-top: 0;
    margin-left: 70px;
}

.article {
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.article-1 {
    margin: 0 auto 100px auto;
	width: 1030px;
    height: 262px;
}

.article-2 {
	width: 1030px;
    flex-direction: row-reverse;
    margin: 0 auto 120px auto;
}

.article-content {
    width: 400px;
    height: 262px;
    vertical-align: text-top;
}

.article-content h2 {
    margin-bottom: 35px;
}

.article-content-2 {
    width: 400px;
}

.article-content-2 h2{
    margin-bottom: 35px;
}

.article-content-2 {
    text-align: right;
}

.article-content-2 .blog-article-date {
    margin-right: 0;
}

.news-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    padding-left: 20px;

}
.user h4 {
    margin-bottom: 15px;
}

.new-list li {
    margin-bottom: 8px;
}

.blog-article-date {
    margin-right: 180px;
}

.news h2 {
    margin-bottom: 55px;
}

.news figure {
    width: 770px;
    margin: 0 auto;
}

.new-h3 {
    margin-right: 255px;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 110px;
    height: 1349px;
}

.contacts {
	margin-top: 0;
	margin: 0;
	padding: 0;
    width: 1170px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
}

.contacts-discription h2 {
	margin-top: 0;
}

.contacts-discription {
    width: 400px;
}



.map {
    width: 670px;
}

.contacts h2 {
    margin-bottom: 35px;
}


.main-footer{
    padding: 60px 0;
    margin-top: 120px;
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 60px;
}

.footer-container{
    display: flex;
}

.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column {
    width: 175px;
    margin-right: 125px;
}

.footer-navigation-topics {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: row;

    margin-right: 0px;
    list-style: none;
}


.footer-navigation {
    width: 870px;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 0;
}

.footer-navigation-item {
    width: 165px;
}

.footer-navigation-item > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-item h2 {
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
}


.gallery h2 {
	text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

.gallery h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
}

.gallery {
	width: 1170px;
    margin: 0 auto;
	margin-bottom: 120px;
}

.gallery h2 {
    margin: 0;
	margin-bottom: 55px;
	text-align: center;
}

.slider {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.preview-list  {
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.preview-list li{
	width: 170px;
    height: 150px;
    margin-bottom: 30px;
}

.preview-list a {
    position: relative;
    display: block;
}

.preview-list img {
    display: block;
}

.preview-list a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(253, 253, 255, 0.5);
}

.preview-list a.active-item::before{
    background-color: transparent;
}

.logoo {
    margin-top: 0;
    margin-bottom: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-navigation-item {
    margin-right: 30px;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.iconn { 
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00C6BD;
}

blockquote {
    margin: 0;
    padding: 0;
    border-left: 2px solid #00C6BD;
    padding-left: 20px;
    margin-top: 38px;
    margin-bottom: 30px;
}

.holiday {
    margin-bottom: 47px;
}

.info {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.info .author {
    padding-left: 15px;
}

.info .author time {
    display: flex;
    flex-wrap: wrap;
    width: 142px;
}

.share {
    margin-left: 509px;
}

.date {
    margin-top: 9px;
}

.contacts-discription h2 {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 35px;
}

.contacts-list {
    margin: 0;
    padding: 00;
    list-style: none;
}

.contacts-list li {
    font-display: flex;
    margin-bottom: 15px;
}

.contacts-list h3 {
    display: inline;
}

.inline-el {
    display: inline;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.social-item {
    margin-right: 15px;
}

.social-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #00C6BD;
}

.yaxt-logo {
    width: 100px;
    height: 106px;
    margin-bottom: 30px;
    margin-top: 0;
}

.footer-navigation h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.company-list-item {
    margin-bottom: 10px;
}